@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Frontrunner';
  src: url('../fonts/f/Frontrunner.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(139, 139, 139);
  border-radius: 10px;
}
